body {
    background-color: #c5e3f6;
    font-family: Calibri;
}

#app {
    margin-top: 30px;
    margin-left: 10px;
}

h1 {
    margin-left: 25px;
    color: #303a52;
}

ul {
    color: #fc5185;
    font-weight: bold;
    font-size: 18px;
}

li {
    padding: 8px;
}

a {
    color: #086972;
    text-decoration: none;
    float: right;
    margin-right: 75%;
}

input {
    border: 1.0px solid #fc5185;
    border-radius: 5px;
    margin-left: 20px;
    width: 285px;
    padding: 5px;
    color: #575151;
}

button:focus, input:focus {
    outline: none;
}

button {
    border: 1.0px solid #fc5185;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    color: #fc5185;
}